<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='image/favicon.png') }}">
    <title>KRACK | ADMIN</title>
</head>
<body>
    <div class="center1">
        <img src="{{url_for('static', filename='image/logo.png')}}" style="max-width: 40%; height: auto; display: block; margin: 10% auto 20px;"/>

        <h1 style="font-size: 20px;">Prediction Class Distribution</h1>

        <div class="desc">
            <a>This application is purposed to classify crack and uncrack images using a Binary Classification CNN Model.</a>
            <a>All results will be recorded as data collection that can be used for future research or training.</a><br><br>
            <a>Warning: Not all data collected is correct and usable.</a>
        </div>

        <canvas id="pieChart"></canvas>

        <br>

        <p><a href="{{ url_for('dashboard') }}">Back to Dashboard</a></p>

        <br>

        <div class="user_button">
            <a href="{{ url_for('about') }}">Predict Class Dist</a>
            <a href="{{ url_for('crack_detect') }}">Perform Detection</a>
            <a href="{{ url_for('logout') }}">Log Out</a>
        </div>
    </div>

    <script>
        var predictionData = {{ prediction_counts | tojson }};

        var ctx = document.getElementById('pieChart').getContext('2d');
        var pieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: Object.keys(predictionData),
                datasets: [{
                    data: Object.values(predictionData),
                    backgroundColor: ['#9796f0', '#FFDB58']
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Prediction Class Distribution'
                }
            }
        });
    </script>
</body>
</html>
